@charset "UTF-8";
@import './theme.scss';
//-----------------------------------------------------
// reset scss
//-----------------------------------------------------


[v-cloak] {
	display: none !important;
}
// icon-font
[class^="el-icon-mc"],
[class*=" el-icon-mc"] {
	font-family: "iconfont" !important;
}

/*清浮动*/
.clearfix{
	zoom:1;
	&:before,
	&:after {
		content:'';
		display:block;
		overflow:hidden;
		visibility:hidden;
		font-size:0;
		line-height:0;
		width:0;
		height:0;
	}
	&:after{
		clear:both;
	}
}
/*滚动条样式*/
.c-scroll-wrap {
    height: 100%;
    overflow-y: auto;
}

.c-scroll-wrap::-webkit-scrollbar { /*滚动条整体部分，其中的属性有width,height,background,border等（就和一个块级元素一样）（位置1）*/
    width: 10px;
    height: 0;
}

.c-scroll-wrap::-webkit-scrollbar-thumb { /*滚动条里面可以拖动的那部分（位置5）*/
    background: rgba(0, 0, 0, .5);
    // background: rgba(0, 0, 0, 0);
    border-radius: 33px;
}
// .c-scroll-inner {
//     min-height: 100%;
// }
.c-scroll-inner::-webkit-scrollbar { /*滚动条整体样式*/
    width: 5px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 5px;
}

.c-scroll-inner::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    // -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0.2);
}

.c-scroll-inner::-webkit-scrollbar-track { /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    // -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
    // background: rgba(0, 0, 0, 0);
}
// global
.c-text-left {
	text-align: left;
}
.c-text-right {
	text-align: right;
}
.c-text-center {
	text-align: center;
}
.c-pull-right {
	float: right;
}
.c-pull-left {
	float: left;
}
.c-vertical-top {
	display: inline-block;
	vertical-align: top;
}
.c-vertical-middle {
	display: inline-block;
	vertical-align: middle;
}
.c-vertical-bottom {
	display: inline-block;
	vertical-align: bottom;
}
//间距
.c-ml-20 {
	margin-left: 20px;
}
.c-mt-20 {
	margin-top: 20px;
}
.c-mr-20 {
	margin-right: 20px;
}
.c-mb-20 {
	margin-bottom: 20px;
}
.c-mb-70  {
	margin-bottom: 70px;
}
.c-border-bottom {
	border-bottom: 1px solid $borderColor;
}
//外壳 间距统
.c-wrapper-10 {
	padding: 10px;
}
.c-wrapper-20 {
	margin: 20px;
}
//面包屑&&通用标题
.c-title {
	position: relative;
    height: 34px;
    background-color: #fff;
    padding: 10px 20px 10px 35px;
    font-size: 20px;
    line-height: 34px;
	color: #333 !important;
	&:after {
		content: "";
		position: absolute;
		left: 20px;
		top: 50%;
		width: 3px;
		height: 21px;
		background-color: $yellow;
		margin-top: -10px;
	}
	&.el-breadcrumb {
		padding-left: 20px;
		&:after {
			background-color: transparent;
		}
	}
}
h3.c-title {
	padding-left: 20px;
	&:after {
		background-color: transparent;
	}
}
.c-page {
	position: absolute;
	left: 20px;
	right: 20px;
	bottom: 0;
	z-index: 9;
	height: 70px;
	background-color: #f7f7f7;
	@include layoutMode(both);
}

.c-button-wrapper {
	background-color: #fff;
	padding: 13px 20px;
	.el-button {
		border-color: $blue;
		color: $blue;
		&.is-plain:focus, &.is-plain:hover {
			border-color: $blue;
			color: $blue;
		    opacity: .6;
		}
	}
}
.c-return-btn {
	float: right;
	font-size: 16px;
	color: $fontGrayColor;
	line-height: 34px;
	.el-page-header__left {
		margin-right: 0;
	}
}

.c-detail-box {
	background: #fff;
}
.c-add-box {
	padding: 30px;
}
.c-table-img {
	display: inline-block;
	height: 62px;
}

.c-width-200 {
	width: 200px;
}

.c-yellow {
	color: $yellow !important;
}
.c-blue {
	color: $blue !important;
}

// 实体弹窗蒙层

.c-view-dialog-54 {
	position: absolute;
	left: 0;
	top: -54px;
	right: 0;
	bottom: 0;
	z-index: 10;
	background-color: #f7f7f7;
}
.c-view-dialog {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	background-color: #f7f7f7;
}
